/* from https://matcha.mizu.sh with some tweaks to colors */
:root {
  /* Font */
  --ft: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --ft-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --ft-size: 18px;

  /* Layouts */
  --ly-header-size: 3.5rem;
  --ly-aside-size-small: 2.5rem;
  --ly-brand: #e6edf3;
  --ly-bg-brand: #010409;

  /* Colors */
  --light-default: #1f2328;
  --light-subtle: #1f2328;
  --light-contrast: #e6edf3;
  --light-muted: #656d76;
  --light-accent: #bf3989;
  --light-blue: #0969da;
  --light-active: #8250df;
  --light-variant: #bf3989;
  --light-success: #1a7f37;
  --light-attention: #9a6700;
  --light-severe: #bc4c00;
  --light-danger: #d1242f;
  --dark-default: #e6edf3;
  --dark-subtle: #e6edf3;
  --dark-contrast: #1f2328;
  --dark-muted: #848d97;
  --dark-accent: #db61a2;
  --dark-blue: #4493f8;
  --dark-active: #a371f7;
  --dark-variant: #db61a2;
  --dark-success: #3fb950;
  --dark-attention: #d29922;
  --dark-severe: #db6d28;
  --dark-danger: #f85149;

  /* Backgrounds */
  --light-bg-default: #ffffff;
  --light-bg-subtle: #d0d7de;
  --light-bg-contrast: #24292f;
  --light-bg-muted: #f6f8fa;
  --light-bg-accent: #ddf4ff;
  --light-bg-active: #fbefff;
  --light-bg-variant: #ffeff7;
  --light-bg-success: #dafbe1;
  --light-bg-attention: #fff8c5;
  --light-bg-severe: #fff1e5;
  --light-bg-danger:  #ffebe9;
  --dark-bg-default: #0d1117;
  --dark-bg-subtle: #30363d;
  --dark-bg-contrast: #6e7681;
  --dark-bg-muted: #161b22;
  --dark-bg-accent: #121d2f;
  --dark-bg-active: #231f39;
  --dark-bg-variant: #221926;
  --dark-bg-success: #12261e;
  --dark-bg-attention: #272115;
  --dark-bg-severe: #221a19;
  --dark-bg-danger:  #25171c;

  /* Miscellaneous */
  --light-backdrop: #8c959f33;
  --light-bd-muted: #d0d7deb3;
  --dark-bd-muted: #30363db3;
  --dark-backdrop: #161b2266;
  --bd-radius: 6px;
  --tr-duration: .2s;
  --ct-width: 1024px;
}

/*
 * While everything below can be edited, it is advised to leave them to default and edit the upper rule instead for easier maintenance.
 */

:root,[data-color-scheme="light"] {
  /* Colors */
  --default: var(--light-default);
  --subtle: var(--light-subtle);
  --contrast: var(--light-contrast);
  --muted: var(--light-muted);
  --accent: var(--light-accent);
  --blue: var(--light-blue);
  --active: var(--light-active);
  --variant: var(--light-variant);
  --success: var(--light-success);
  --attention: var(--light-attention);
  --severe: var(--light-severe);
  --danger: var(--light-danger);

  /* Backgrounds */
  --bg-default: var(--light-bg-default);
  --bg-subtle: var(--light-bg-subtle);
  --bg-contrast: var(--light-bg-contrast);
  --bg-muted: var(--light-bg-muted);
  --bg-accent: var(--light-bg-accent);
  --bg-active: var(--light-bg-active);
  --bg-variant: var(--light-bg-variant);
  --bg-success: var(--light-bg-success);
  --bg-attention: var(--light-bg-attention);
  --bg-severe: var(--light-bg-severe);
  --bg-danger:  var(--light-bg-danger);

  /* Miscellaneous */
  --bd-muted: var(--light-bd-muted);
  --backdrop: var(--light-backdrop);
}

[data-color-scheme="dark"] {
  /* Colors */
  --default: var(--dark-default);
  --subtle: var(--dark-subtle);
  --contrast: var(--dark-contrast);
  --muted: var(--dark-muted);
  --accent: var(--dark-accent);
  --blue: var(--light-blue);
  --active: var(--dark-active);
  --variant: var(--dark-variant);
  --success: var(--dark-success);
  --attention: var(--dark-attention);
  --severe: var(--dark-severe);
  --danger: var(--dark-danger);

  /* Backgrounds */
  --bg-default: var(--dark-bg-default);
  --bg-subtle: var(--dark-bg-subtle);
  --bg-contrast: var(--dark-bg-contrast);
  --bg-muted: var(--dark-bg-muted);
  --bg-accent: var(--dark-bg-accent);
  --bg-active: var(--dark-bg-active);
  --bg-variant: var(--dark-bg-variant);
  --bg-success: var(--dark-bg-success);
  --bg-attention: var(--dark-bg-attention);
  --bg-severe: var(--dark-bg-severe);
  --bg-danger:  var(--dark-bg-danger);

  /* Miscellaneous */
  --bd-muted: var(--dark-bd-muted);
  --backdrop: var(--dark-backdrop);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-color-scheme="light"]) {
    /* Colors */
    --default: var(--dark-default);
    --subtle: var(--dark-subtle);
    --contrast: var(--dark-contrast);
    --muted: var(--dark-muted);
    --accent: var(--dark-accent);
    --active: var(--dark-active);
    --variant: var(--dark-variant);
    --success: var(--dark-success);
    --attention: var(--dark-attention);
    --severe: var(--dark-severe);
    --danger: var(--dark-danger);

    /* Backgrounds */
    --bg-default: var(--dark-bg-default);
    --bg-subtle: var(--dark-bg-subtle);
    --bg-contrast: var(--dark-bg-contrast);
    --bg-muted: var(--dark-bg-muted);
    --bg-accent: var(--dark-bg-accent);
    --bg-active: var(--dark-bg-active);
    --bg-variant: var(--dark-bg-variant);
    --bg-success: var(--dark-bg-success);
    --bg-attention: var(--dark-bg-attention);
    --bg-severe: var(--dark-bg-severe);
    --bg-danger:  var(--dark-bg-danger);

    /* Miscellaneous */
    --bd-muted: var(--dark-bd-muted);
    --backdrop: var(--dark-backdrop);
  }
}

/* Computed properties */
/* stylelint-disable no-duplicate-selectors */
:root {
  /* Shadows */
  --shadow: 0px 0px 0px 1px var(--bg-subtle), 0px 6px 12px -3px var(--backdrop), 0px 6px 18px 0px var(--backdrop);
  --shadow-r: 6px 0px 18px 0px var(--backdrop);
  --shadow-l: -6px 0px 18px 0px var(--backdrop);
  /** Forced colors */
  --light: var(--dark-default);
  --dark: var(--light-default);
}
/* stylelint-enable no-duplicate-selectors */
a {
  color: var(--accent);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

a:active:hover {
  color: var(--active);
}

/* Ruby */
rp, rt {
  color: var(--muted);
  font-size: 75%;
}

/* Sidescript */
sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

/* Annotations */
mark, ins, del {
  padding: 0 .25rem;
  background: var(--bg-active);
  color: var(--active);
}

ins {
  background: var(--bg-success);
  color: var(--success);
  text-decoration: underline;
}

del {
  background: var(--bg-danger);
  color: var(--danger);
  text-decoration: line-through;
}

/* Progress */
progress, meter {
  overflow: hidden;
  width: 100%;
  height: .5rem;
  border: transparent;
  border-radius: calc(.5 * var(--bd-radius));
  margin: .5rem 0;
  appearance: none;
  background: var(--bg-subtle);
}

progress {
  vertical-align: baseline;
}

progress::-webkit-progress-value {
  background-color: currentColor;
}

progress::-moz-progress-bar {
  background-color: currentColor;
}

/* Meter */
meter::-webkit-meter-inner-element {
  position: relative;
  display: block;
}

meter::-webkit-meter-bar, progress::-webkit-progress-bar {
  border: transparent;
  background: var(--bg-subtle);
}

meter::-webkit-meter-optimum-value {
  background: var(--success);
}

meter::-webkit-meter-suboptimum-value {
  background: var(--attention);
}

meter::-webkit-meter-even-less-good-value {
  background: var(--danger);
}

meter:-moz-meter-optimum::-moz-meter-bar {
  background: var(--success);
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: var(--attention);
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: var(--danger);
}

/* Details */
details {
  display: block;
  padding: 1rem;
  border: 1px solid var(--bd-muted);
  border-radius: var(--bd-radius);
  margin: 0 0 1rem;
}

summary {
  display: list-item;
  border-radius: calc(var(--bd-radius) - 1px) calc(var(--bd-radius) - 1px) 0 0;
  color: var(--accent);
  cursor: pointer;
  user-select: none;
}

summary:hover {
  text-decoration: underline;
}

details[open] > summary {
  padding: 1rem;
  border-bottom: 1px solid var(--bd-muted);
  margin: -1rem;
  margin-bottom: 1rem;
  background: var(--bg-muted);
}

summary > :is(h1, h2, h3, h4, h5, h6) {
  display: inline;
}

/* Paragraphs */
p, pre {
  margin: 0 auto 1rem;
}

p img {
  vertical-align: middle;
}

:is(p, pre):last-child {
  margin-bottom: 0;
}

/* Preformatted text */
pre {
  position: relative;
  overflow: auto;
  padding: 1rem;
  border-radius: var(--bd-radius);
  background: var(--bg-muted);
  font-size: .85rem;
  line-height: 1.45;
  -webkit-text-size-adjust: 100%;
}

pre > code {
  overflow: visible;
  padding: 0;
  border-radius: 0;
  background: transparent;
  font-size: inherit;
}

/* Quotation block */
blockquote {
  padding: .25rem 1rem;
  border-left: .25rem solid var(--bd-muted);
  margin: 0 0 1rem;
  color: var(--muted);
}

blockquote > cite:last-child {
  display: block;
  padding-left: 2rem;
  margin-top: .25rem;
  text-decoration: none;
}

blockquote > cite:last-child::before {
  content: "— ";
}

/* Figure */
figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

figcaption {
  display: block;
  width: 100%;
  margin: 1rem 0;
  color: var(--muted);
  text-align: center;
}

/* Header group */
hgroup {
  padding: .25rem .5rem;
  border-left: .25rem solid currentColor;
  margin: 0 0 1rem;
}

hgroup > :is(h1, h2, h3, h4, h5, h6)[id] > a:hover::before {
  right: calc(100% + 1.25rem);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: 1px solid transparent;
  margin: 0 0 1rem;
  line-height: 1.25;
}

:not(:is(dialog, article, body) > header:first-child) > :is(h1, h2) {
  border-color: var(--bd-muted);
}

:not(hgroup, blockquote, header) > :is(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 1.5rem;
}

:is(h1, h2, h3, h4, h5, h6):last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  color: var(--muted);
  font-size: 0.85rem;
}

:is(h1, h2, h3, h4, h5, h6)[id] > a {
  position: relative;
  color: inherit;
}

:is(h1, h2, h3, h4, h5, h6)[id] > a:hover {
  text-decoration: none;
}

:is(h1, h2, h3, h4, h5, h6)[id] > a:hover::before {
  position: absolute;
  top: .125rem;
  right: calc(100% + .25rem);
  color: var(--muted);
  content: "#";
}

:is(h1, h2, h3, h4, h5, h6)[id]:has(> a:hover) {
  border-color: currentColor;
}

/* Sections */
body {
  max-width: var(--ct-width);
  padding: 0 1.5rem;
  margin: 0 auto;
  background: var(--bg-default);
  color: var(--default);
  font-family: var(--ft);
  font-size: var(--ft-size);
  line-height: 1.5;
}

[data-color-scheme] {
  background: var(--bg-default);
  color: var(--default);
}

main, header {
  margin: 0 0 1rem;
}

body > header:first-child, body > footer:last-child {
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

/* Breaks */
hr {
  overflow: visible;
  height: .25em;
  box-sizing: content-box;
  padding: 0;
  border: none;
  margin: 1.5em 0;
  background: var(--bd-muted);
}
b, strong {
  font-weight: bold;
}

i, q, cite, em, dfn, strong {
  font-style: italic;
}

q::before {
  content: "« ";
}

q::after {
  content: " »";
}

dfn, em {
  font-weight: 600;
}

u, cite {
  text-decoration: underline;
}

u > u {
  text-decoration: underline double;
}

s {
  text-decoration: line-through;
}

s > s {
  text-decoration: line-through double;
}

small {
  font-size: 85%;
}